# Author: Fabio Mucciante
# Last Update: 2022/07/14
# Version: 1.0.1
#
# Manual Install:
#   - KDE4: Copy this file under: ~/.kde4/share/kde4/services/ServiceMenus/
#   - KDE5: Copy this file under: ~/.local/share/kservices5/ServiceMenus/
#
# References:
#   - https://freeaptitude.altervista.org/downloads/download-with-youtube-dl-here.html
#   - https://github.com/fabiomux/kde-servicemenus

[Desktop Entry]
Type=Service
MimeType=inode/directory;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=minitube
Actions=download_with_youtubedl_all;download_with_youtubedl_audio_and_video;download_with_youtubedl_audio;download_with_youtubedl_video;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Download with youtube-dl here
X-KDE-Submenu[it]=Scarica con youtube-dl qui

[Desktop Action download_with_youtubedl_all]
Name=Select among all available formats
Name[it]=Seleziona tra tutti i formati disponibili
Icon=minitube
Exec=c=`kdialog --title 'Insert the media URL to download' --inputbox 'Insert the URL:' ""`;if [ $? -gt 0 ];then exit;fi;f=`youtube-dl -F "$c" 2>&1`;if [ $? -gt 0 ];then kdialog --error "$f";exit;fi;f=`echo "$f"|grep "^[0-9]\\+"|sed 's@\\([0-9]\+\\)\\ \\+\\(.*\\)@\\1 "\\2" off@'| tr "\\n" ' '`;eval set -- "${f[@]}";s=`kdialog --radiolist 'Select the format' "$@"` && youtube-dl -o "%f/%(title)s.%(ext)s" -f $s "$c" && kdialog --title 'Download with youtube-dl' --passivepopup 'Download Completed' 5 --icon minitube

[Desktop Action download_with_youtubedl_audio_and_video]
Name=Select among the audio + video formats
Name[it]=Seleziona tra i formati audio + video
Icon=minitube
Exec=c=`kdialog --title 'Insert the media URL to download' --inputbox 'Insert the URL:' ""`;if [ $? -gt 0 ];then exit;fi;f=`youtube-dl -F "$c" 2>&1`;if [ $? -gt 0 ];then kdialog --error "$f";exit;fi;f=`echo "$f"|grep "^[0-9]\\+"|grep -Ev "audio|video only"|sed 's@\\([0-9]\+\\)\\ \\+\\(.*\\)@\\1 "\\2" off@'| tr "\\n" ' '`;eval set -- "${f[@]}";s=`kdialog --radiolist 'Select the format' "$@"` && youtube-dl -o "%f/%(title)s.%(ext)s" -f $s "$c" && kdialog --title 'Download with youtube-dl' --passivepopup 'Download Completed' 5 --icon minitube

[Desktop Action download_with_youtubedl_audio]
Name=Select among the only audio formats
Name[it]=Seleziona tra i formati solo audio
Icon=minitube
Exec=c=`kdialog --title 'Insert the media URL to download' --inputbox 'Insert the URL:' ""`;if [ $? -gt 0 ];then exit;fi;f=`youtube-dl -F "$c" 2>&1`;if [ $? -gt 0 ];then kdialog --error "$f";exit;fi;f=`echo "$f"|grep "^[0-9]\\+"|grep "audio only"|sed 's@\\([0-9]\+\\)\\ \\+\\(.*\\)@\\1 "\\2" off@'| tr "\\n" ' '`;eval set -- "${f[@]}";s=`kdialog --radiolist 'Select the format' "$@"` && youtube-dl -o "%f/%(title)s.%(ext)s" -f $s "$c" && kdialog --title 'Download with youtube-dl' --passivepopup 'Download Completed' 5 --icon minitube

[Desktop Action download_with_youtubedl_video]
Name=Select among the only video formats
Name[it]=Seleziona tra i formati solo video
Icon=minitube
Exec=c=`kdialog --title 'Insert the media URL to download' --inputbox 'Insert the URL:' ""`;if [ $? -gt 0 ];then exit;fi;f=`youtube-dl -F "$c" 2>&1`;if [ $? -gt 0 ];then kdialog --error "$f";exit;fi;f=`echo "$f"|grep "^[0-9]\\+"|grep "video only"|sed 's@\\([0-9]\+\\)\\ \\+\\(.*\\)@\\1 "\\2" off@'| tr "\\n" ' '`;eval set -- "${f[@]}";s=`kdialog --radiolist 'Select the format' "$@"` && youtube-dl -o "%f/%(title)s.%(ext)s" -f $s "$c" && kdialog --title 'Download with youtube-dl' --passivepopup 'Download Completed' 5 --icon minitube

