# Author: Fabio Mucciante
# Last Update: 2021/10/29
# Version: 1.2.1
#
# Manual Install:
#   - KDE4: Copy this file under: ~/.kde4/share/kde4/services/ServiceMenus/
#   - KDE5: Copy this file under: ~/.local/share/kservices5/ServiceMenus/
#
# References:
#   - https://freeaptitude.altervista.org/downloads/open-with-gvim.html
#   - https://github.com/fabiomux/kde-servicemenus

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Icon=gvim
MimeType=all/allfiles
X-KDE-Priority=TopLevel
Actions=open_with_gvim;open_with_vim

[Desktop Action open_with_gvim]
Name=Open with gVIM
Name[it]=Apri con gVIM
Name[fr]=Ouvrir avec gVIM
Name[es]=Abrir con gVIM
Name[nl]=Openen men gVIM
Name[de]=Mit gVIM öffnen
Icon=gvim
Exec=gvim -p %F

[Desktop Action open_with_vim]
Name=Open with VIM (Konsole)
Name[it]=Apri con VIM (Konsole)
Name[fr]=Ouvrir avec VIM (Konsole)
Name[es]=Abrir con VIM (Konsole)
Name[nl]=Openen men VIM (Konsole)
Name[de]=Mit VIM öffnen (Konsole)
Icon=gvim
Exec=konsole -e vim -p %F
