# Author: Fabio Mucciante
# Last Update: 2021/10/29
# Version: 1.2.3
#
# Manual Install:
#   - KDE 4: Copy this file under: ~/.kde4/share/kde4/services/ServiceMenus/
#   - KDE 5: Copy this file under: ~/.local/share/kservices5/ServiceMenus/
#
# References:
#   - https://freeaptitude.altervista.org/downloads/copy-to-klipper.html
#   - https://github.com/fabiomux/kde-servicemenus

[Desktop Entry]
Type=Service
MimeType=all/all
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=klipper
Actions=copy_filename_full;copy_filename_name;copy_filename_path;copy_filename_name_noext;copy_hash_md5;copy_hash_sha256;copy_hash_sha512;copy_type_mime;copy_type_filetype;copy_size_bytes;copy_size_hr;copy_perm_oct;copy_perm_hr;copy_owner_groupid;copy_owner_groupname;copy_owner_userid;copy_owner_username;copy_mount_point;copy_last_access;copy_last_modification
X-KDE-Submenu=Copy to the clipboard
X-KDE-Submenu[it]=Copia nella clipboard
X-KDE-Submenu[es]=Copiar en el portapapeles
X-KDE-Submenu[fr]=Copier dans la presse-papier
X-KDE-Submenu[nl]=Kopiëren naar klembord
X-KDE-Submenu[de]=In die Zwischenablage kopieren
X-KDE-Priority=TopLevel

[Desktop Action copy_filename_full]
Name=Copy the full filename
Name[it]=Copia il nome del file completo
Name[es]=Copiar el nombre de fichero completo
Name[fr]=Copier le nom de fichier complet
Name[nl]=Volledige bestandsnaam kopiëren
Name[de]=Vollen Dateinamen kopieren
Icon=klipper
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents '%f'

[Desktop Action copy_filename_name]
Name=Copy the filename
Name[it]=Copia il nome del file
Name[es]=Copiar el nombre de fichero
Name[fr]=Copier le nom de fichier
Name[nl]=Bestandsnaam kopiëren
Name[de]=Dateinamen kopieren
Icon=klipper
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents '%n'

[Desktop Action copy_filename_path]
Name=Copy only the path
Name[it]=Copia solo il percorso del file
Name[es]=Copiar solo la ruta de acceso
Name[fr]=Copier le chemin d'accès
Name[nl]=Alleen bestandslocatie kopiëren
Name[de]=Nur den Pfad kopieren
Icon=klipper
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents '%d'

[Desktop Action copy_filename_name_noext]
Name=Copy the filename without extension
Name[it]=Copia il nome del file senza estensione
Name[es]=Copiar el nombre del fichero sin extension
Name[fr]=Copier le nom de fichier sans extension
Name[nl]=Bestandsnaam zonder extensie kopiëren
Name[de]=Dateiname ohne Datienendung kopieren
Icon=klipper
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;x=%n;$exe org.kde.klipper /klipper setClipboardContents "${x%.*}"

[Desktop Action copy_hash_md5]
Name=Copy the md5 checksum
Name[it]=Copia l'hash md5
Name[es]=Copiar el hash md5
Name[fr]=Copier l'hachage md5
Name[nl]=MD5-controlesom kopiëren
Name[de]=MD5-Checksumme kopieren
Icon=checkmark
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;if [ -d '%f' ]; then kdialog --error 'The hash cannot be calculated for a directory' --title 'Directory'; exit; fi;$exe org.kde.klipper /klipper setClipboardContents "`md5sum '%f'|cut -f 1 -d ' '`"

[Desktop Action copy_hash_sha256]
Name=Copy the sha256 checksum
Name[it]=Copia l'hash sha256
Name[es]=Copiar el hash sha256
Name[fr]=Copier l'hachage sha256
Name[nl]=SHA256-controlesom kopiëren
Name[de]=SHA256-Checksumme kopieren
Icon=checkmark
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;if [ -d '%f' ]; then kdialog --error 'The hash cannot be calculated for a directory' --title 'Directory'; exit; fi;$exe org.kde.klipper /klipper setClipboardContents "`sha256sum '%f'|cut -f 1 -d ' '`"

[Desktop Action copy_hash_sha512]
Name=Copy the sha512 checksum
Name[it]=Copia l'hash sha512
Name[es]=Copiar el hash sha512
Name[fr]=Copier l'hachage sha512
Name[nl]=SHA512-controlesom kopiëren
Name[de]=SHA512-Checksumme kopieren
Icon=checkmark
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;if [ -d '%f' ]; then kdialog --error 'The hash cannot be calculated for a directory' --title 'Directory'; exit; fi;$exe org.kde.klipper /klipper setClipboardContents "`sha256sum '%f'|cut -f 1 -d ' '`"

[Desktop Action copy_type_mime]
Name=Copy the mime type
Name[it]=Copia il mime type
Name[es]=Copiar el mime type
Name[fr]=Copier le type mime
Name[nl]=Mimetype kopiëren
Name[de]=MIME-Typ kopieren
Icon=application-x-mimearchive
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;x=`file --mime-type '%f'`;$exe org.kde.klipper /klipper setClipboardContents "${x#*:}"

[Desktop Action copy_type_filetype]
Name=Copy the file type
Name[it]=Copia il tipo di file
Name[es]=Copiar el tipo de fichero
Name[fr]=Copier le type de fichier
Name[nl]=Bestandstype kopiëren
Name[de]=Dateityp kopieren
Icon=application-x-mimearchive
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;x=`file '%f'`;$exe org.kde.klipper /klipper setClipboardContents "${x#*:}"

[Desktop Action copy_size_bytes]
Name=Copy the file size (in bytes)
Name[it]=Copia la dimensione del file (in bytes)
Name[es]=Copiar el tamaño del archivo (en bytes)
Name[fr]=Copier la taille du fichier (en octets)
Name[nl]=Bestandsgrootte (in bytes) kopiëren
Name[de]=Größe in Byte kopieren
Icon=format-number-percent
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;if [ -d '%f' ]; then $exe org.kde.klipper /klipper setClipboardContents "`stat -c %s '%f'/*|awk '{c+=$1} END {printf "%s",c}'`"; else $exe org.kde.klipper /klipper setClipboardContents "`stat -c %s '%f'`"; fi

[Desktop Action copy_size_hr]
Name=Copy the file size (human-readable)
Name[it]=Copia la dimensione del file (human-readable)
Name[es]=Copiar el tamaño del archivo (legible)
Name[fr]=Copier la taille du fichier (lisible)
Name[nl]=Bestandsgrootte (leesbaar) kopiëren
Name[de]=Größe (lesbar) kopieren
Icon=format-number-percent
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;if [ -d '%f' ]; then $exe org.kde.klipper /klipper setClipboardContents "`ls -hs '%f'|head -n 1|cut -f 2 -d ' '`"; else $exe org.kde.klipper /klipper setClipboardContents "`ls -hs '%f'|cut -f 1 -d ' '`"; fi

[Desktop Action copy_perm_oct]
Name=Copy the file access rights (octal)
Name[it]=Copia i diritti di accesso (ottale)
Name[es]=Copie los derechos de acceso al archivo (octal)
Name[fr]=Copiez les droits d'accès au fichier (octal)
Name[nl]=Toegangsrechten kopiëren (octaal)
Name[de]=Zugriffsrechte (octal) kopieren
Icon=key-single
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %a '%f'`"

[Desktop Action copy_perm_hr]
Name=Copy the file access rights (human-readable)
Name[it]=Copia i diritti di accesso (human-readable)
Name[es]=Copie los derechos de acceso al archivo (legible)
Name[fr]=Copiez les droits d'accès au fichier (lisible)
Name[nl]=Toegangsrechten kopiëren (leesbaar)
Name[de]=Zugriffsrechte (lesbar) kopieren
Icon=key-single
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %A '%f'`"

[Desktop Action copy_owner_groupid]
Name=Copy the group id
Name[it]=Copia l'id del gruppo
Name[es]=Copiar la identificación del grupo
Name[fr]=Copiez l'identifiant du groupe
Name[nl]=Groepsid kopiëren
Name[de]=Gruppen-ID kopieren
Icon=group
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %g '%f'`"

[Desktop Action copy_owner_groupname]
Name=Copy the group name
Name[it]=Copia il nome del gruppo
Name[es]=Copiar el nombre del grupo
Name[fr]=Copiez le nom du groupe
Name[nl]=Groepsnaam kopiëren
Name[de]=Gruppen-Name kopieren
Icon=group
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %G '%f'`"

[Desktop Action copy_owner_userid]
Name=Copy the user id
Name[it]=Copia l'id utente
Name[es]=Copiar la identificación de usuario
Name[fr]=Copiez l'identifiant de l'utilisateur
Name[nl]=Gebruikersid kopiëren
Name[de]=Benutzer-ID kopieren
Icon=user
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %\\u '%f'`"

[Desktop Action copy_owner_username]
Name=Copy the user name
Name[it]=Copia il nome utente
Name[es]=Copiar el nombre de usuario
Name[fr]=Copiez le nom d'utilisateur
Name[nl]=Gebruikersnaam kopiëren
Name[de]=Benutzernamen kopieren
Icon=user
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %\\U '%f'`"

[Desktop Action copy_last_access]
Name=Copy the time of last access
Name[it]=Copia l'ultimo accesso
Name[es]=Copiar la hora del último acceso
Name[fr]=Copier l'heure du dernier accès
Name[nl]=Bezoekdatum kopiëren
Name[de]=Letzte Zugriffszeit kopieren
Icon=change-date-symbolic
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %x '%f'`"

[Desktop Action copy_last_modification]
Name=Copy the time of last modification
Name[it]=Copia l'ora dell'ultima modifica
Name[es]=Copiar la hora de la última modificación
Name[fr]=Copier l'heure de la dernière modification
Name[nl]=Wijzigingsdatum kopiëren
Name[de]=Letzte Änderungszeit kopieren
Icon=change-date-symbolic
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %y '%f'`"

[Desktop Action copy_mount_point]
Name=Copy the mount point
Name[it]=Copia il punto di mount
Name[es]=Copiar el punto de montaje
Name[fr]=Copier le point de montage
Name[nl]=Aankoppelpunt kopiëren
Name[de]=Einhängepunkt kopieren
Icon=folder-root-symbolic
Exec=exe=`command -v qdbus-qt5 || command -v qdbus`;$exe org.kde.klipper /klipper setClipboardContents "`stat -c %m '%f'`"
