# Author : trytomakeyouprivate@github.com, Fabio Mucciante
# Derived from: "Compose with Thunderbird"
# Last Update: 2022/07/16
# Version: 1.0.0
#
# Manual Install:
#   - KDE 4: Copy this file under: ~/.kde4/share/kde4/services/ServiceMenus/
#   - KDE 5: Copy this file under: ~/.local/share/kservices5/ServiceMenus/
#
# References:
#   - https://freeaptitude.altervista.org/downloads/compose-with-betterbird.html
#   - https://github.com/fabiomux/kde-servicemenus

[Desktop Entry]
Type=Service
MimeType=all/allfiles
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=mail-client
Actions=cwb_0selected;cwb_cache;cwb_compose_cached;cwb_compose_with_cached;cwb_erase_cache;
X-KDE-Submenu=Compose with Betterbird
X-KDE-Submenu[it]=Componi con Betterbird
X-KDE-Submenu[de]=Mit Betterbird versenden
X-KDE-Priority=TopLevel

[Desktop Action cwb_0selected]
Name=Selected files
Name[it]=File selezionati
Name[de]=Datei auswählen
Icon=mail-client
Exec=a='';for i in %F; do a="$a,$i"; done;a=`echo "$a"|sed 's@^,@@g'`;t=`kdialog --inputbox 'To email(s)' 'dest@example.com'`;s=`kdialog --inputbox 'Subject' 'Email topic'`;flatpak run eu.betterbird.Betterbird --compose "to='$t',subject='$s',attachment='$a'"

[Desktop Action cwb_cache]
Name=Cache files for later
Name[it]=Memorizza i file per dopo
Name[de]=Datei für später speichern
Icon=mail-client
Exec=for i in %F; do echo "$i" >> ~/.compose_with_betterbird.cache; done && kdialog --passivepopup 'Files cached' 5 --icon mail-attachment --title 'Compose with Betterbird'

[Desktop Action cwb_compose_cached]
Name=Compose cached files
Name[it]=Componi i file memorizzati
Name[de]=Gespeicherte Dateien senden
Icon=mail-client
Exec=b=%F;a='';IFS=$'\n';for i in `cat ~/.compose_with_betterbird.cache`;do a="$a,$i";done;a=`echo "$a"|sed 's@^,@@'`;if [ -z "$a" ];then kdialog --passivepopup 'Empty cache' --icon mail-attachment --title 'Compose with Betterbird';exit;fi;t=`kdialog --inputbox 'To email(s)' 'dest@example.com'`;s=`kdialog --inputbox 'Subject' 'Email topic'`;flatpak run eu.betterbird.Betterbird --compose "to='$t',subject='$s',attachment='$a'"

[Desktop Action cwb_compose_with_cached]
Name=Compose with the cached files
Name[it]=Componi con i file memorizzati
Name[de]=Mit gespeicherten Dateien senden
Icon=mail-client
Exec=a='';IFS=$'\n';for i in `cat ~/.compose_with_betterbird.cache`;do a="$a,$i"; done;for i in %F; do a="$a,$i";done;a=`echo "$a"|sed 's@^,@@'`;if [ -z "$a" ];then kdialog --passivepopup 'Empty cache' --icon mail-attachment --title 'Compose with Betterbird';exit;fi;t=`kdialog --inputbox 'To email(s)' 'dest@example.com'`;s=`kdialog --inputbox 'Subject' 'Email topic'`;flatpak run eu.betterbird.Betterbird --compose "to='$t',subject='$s',attachment='$a'"

[Desktop Action cwb_erase_cache]
Name=Clean the cache
Name[it]=Pulisci la cache
Name[de]=Cache leeren
Icon=mail-client
Exec=b=%F;kdialog --warningyesno 'Clean the cache?' --title 'Compose with Betterbird';if [ $? -eq 0 ];then cat /dev/null > ~/.compose_with_betterbird.cache;kdialog --passivepopup 'Cache cleaned!' 5 --icon mail-attachment --title 'Compose with Betterbird';fi
